modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["zip"]

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
publicDir = "dist/public"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_log_in_with_replit:2.0.0", "google-mail:1.0.0"]

[userenv]

[userenv.shared]
SMTP_HOST = "mail.kpetro.or.kr"
SMTP_PORT = "25"
SMTP_SECURE = "true"
SMTP_USER = "ax"
SMTP_FROM_EMAIL = "ax@kpetro.or.kr"
SMTP_FROM_NAME = "AI 업무 알림 서비스"
ENCRYPTION_KEY = "b2db470a8d380a106db5ff272829c20cc709938b056625ae598d0ffc8b4a1056"
